<div class="print-history">
    {% for print in prints %}
    <div class="card mb-3">
        <!-- Print Header -->
        <div class="card-header d-flex justify-content-between align-items-center">
            <strong>Print ID:</strong> {{ print['id'] }}
        </div>

        <!-- Print Body -->
        <div class="card-body print-grid">
            <div class = "printinfo">
                <!-- Print Information -->
                <div class="card mb-3">
                    <div class="card-body">
                        <strong>Date:</strong> {{ print['print_date'] }}<br/>
                        <strong>File:</strong> {{ print['file_name'] }}<br/>
                        <strong>Type:</strong> {{ print['print_type'] }}
                    </div>
                </div>

                <!-- Filament Usage -->
                <div class="card">
                    <div class="card-body filament-container">
                        {% for filament in print["filament_usage"] %}
                        <div class="card">
                            <div class="card-body">
                                {% if filament['spool'] %}
                                    <a href="{{ url_for('spool_info', spool_id=filament['spool'].id) }}" class="nav-link link-body-emphasis">
                                        <div class="filament-info">
                                            <div class="spool-icon vertical small">
                                                {% if "multi_color_hexes" in filament['spool'].filament and filament['spool'].filament.multi_color_hexes is iterable and filament['spool'].filament.multi_color_hexes is not string%}
                                                <!-- Badge with Dynamic Colors -->
                                                    {% if filament['spool'].filament.multi_color_direction == "coaxial" %}
                                                    <div class="spool-icon horizontal small">
                                                    {% else %}
                                                    <div class="spool-icon vertical small">
                                                    {% endif %}
                                                    
                                                    {% for color in filament['spool'].filament.multi_color_hexes %}
                                                        <div style="background-color:#{{ color }}" title="#{{ color }}"></div>
                                                    {% endfor %}
                                                    </div>
                                                {% else %}
                                                <span class="badge d-inline-block"
                                                    style="background-color: #{{ filament['spool'].filament.color_hex }}; width: 20px; height: 50px;">
                                                </span>
                                                {% endif %}
                                            </div>
                                            <div class="spool-details">
                                                <h6>#{{ filament['spool'].id }} - {{ filament['spool'].filament.vendor.name }} - {{ filament['spool'].filament.material }}</h6>
                                                <small>{{ filament['spool'].filament.name }} - {{ filament['grams_used'] }}g</small>
                                            </div>
                                        </div> 
                                    </a>
                                {% else %}
                                    <div class="spool-info">
                                        <div class="filament-info">
                                            <div class="spool-icon vertical small">
                                                <div style="background-color: {{ filament['color'] }};"></div>
                                            </div>
                                            <div class="spool-details">
                                                <h6>No spool assigned - {{ filament['filament_type'] }}</h6>
                                                <small>{{ filament['grams_used'] }}g</small>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Print Image -->
            <div class="card print-image">
                <div class="card-body d-flex justify-content-center align-items-center">
                    {% if print['image_file'] %}
                        <img src="{{ url_for('static', filename='prints/' ~ print['image_file']) }}" alt="Print Image" class="img-fluid">
                    {% else %}
                        <span class="text-muted">No Image</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>