.spool-container {
    gap: 10px;
}

.spool-icon {
    display: flex;
    width: 2.5em;
    height: 2em;
    gap: 2px;
    margin: 0 .5em
}

.spool-icon.vertical {
    flex-direction: column
}

.spool-icon.small {
    width: 20px;
    margin: 0;
    height: 50px;
} 

.spool-icon.large {
    width: 4em;
    height: 4em
}

.spool-icon * {
    flex: 1 1 0px;
    border-radius: 2px;
    border: #44444430 solid 2px
}

.spool-icon.vertical *:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px
}

.spool-icon.vertical *:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px
}

.spool-icon.horizontal *:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.spool-icon.horizontal *:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.print-history {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.print-job {
    padding: 15px;
    border-radius: 8px;
}

/* Bereich für Druckinformationen */
.print-info {
    grid-area: info;
    padding: 10px;
    border-radius: 5px;
}

/* Filament-Container */
.filament-container {
    grid-area: filament;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}

.filament-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.filament-info > div {
    margin-right: 10px !important;
}

.filament-badge {
    width: 20px;
    height: 50px;
}

/* Layout für die Print-Grid-Struktur */
.print-grid {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Zwei Spalten: Info und Bild */
    grid-template-rows: auto; /* Dynamische Höhe basierend auf dem Inhalt */
    grid-template-areas: 
        "info image"; /* Layout: Info links, Bild rechts */
    gap: 10px;
    align-items: start; /* Elemente oben ausrichten */
}

/* Bereich für Druckinformationen */
.printinfo {
    grid-area: info;
    border-radius: 5px;
}

/* Bereich für das Bild */
.print-image {
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    height: auto; /* Dynamische Höhe basierend auf dem Container */
}

.print-image div {
    height: 100%;
}

.print-image img {
    max-width: 100%; /* Verhindert, dass das Bild breiter als der Container wird */
    max-height: 100%; /* Verhindert, dass das Bild höher als der Container wird */
    height: auto; /* Beibehaltung des Seitenverhältnisses */
    width: auto; /* Beibehaltung des Seitenverhältnisses */
    object-fit: contain; /* Sorgt dafür, dass das Bild innerhalb des Containers bleibt */
}

/* Responsive Anpassungen */
@media (max-width: 768px) {
    .print-grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "info"
            "filament"
            "image";
    }
    .filament-container {
        grid-template-columns: 1fr;
    }
}
